* {
    margin: 0;
    padding: 0;
}

#body {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

#form {
    width: 100%;
    overflow: hidden;
}


//main page css

#container {
    width: 100%;
}

#header {
    width: 100%;
    height: 100px;
    float: left;
}

#title {
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

#content {
    width: 100%;
    float: left;
    background-color: #E2B888;
}

#innerContent {
    background-image: url("images/1/prima pagina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#footer {
    width: 100%;
    height: 100px;
    float: left;
}

#innerFooter {
    width: 150px;
    height: 40px;
    margin: 30px auto;
    color: white;
}

#textFooter {
    float: left;
    height: 20px;
    font-size: 20px;
    margin-top: 10px;
}

#search {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-image: url("images/icons/search.png");
    background-size: 24px 22px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: black;
    border-color: white;
}